.header {
  padding: 0px;
  height: 48px;
  line-height: 48px;
  width: 100%;
  /* z-index: 19; */
  background-color: white;
}

.header__div {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 16px;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}

.header__right {
  display: flex;
  float: right;
  margin-left: auto;
  overflow: hidden;
}

.header__left {
  flex: 1 1 0%;
}

.header__user__info {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 12px;
  cursor: pointer;
  transition: all 0.3s;
}

.avatar {
  margin: 20px 8px 20px 0;
  color: white;
  vertical-align: top;
  background: #87d068 !important;
}

.header__usename {
  vertical-align: middle;
}

.header__icon {
  cursor: pointer;
  padding: 12px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  vertical-align: middle;
}