.header {
  position: absolute;
  top: 20px;
  width: 100%;
  text-align: right;
  padding: 0 50px;
}

.header__logo {
  float: left;
  padding-top: 20px;
}

.header__item {
  color: white;
  margin: 0 7px;
}

.header__item:hover {
  color: white;
}
