.footer {
  height: 64px;
  line-height: 64px;
  font-size: 12px;
  width: 100%;
  text-align: center;
}

.footer__div a {
  color: #666;
}

.footer__div a:hover {
  color: #23c0fa;
}

.divider__span {
  margin: 0 10px;
}
