.layout {
    min-height: 100vh !important;
}

.layout img {
    height: auto;
    width: auto;
    max-width: 100%;
    max-height: 32px;
}

.layout__main {
    position: relative;
}

.tabpane {
    background-color: aqua;
}